body{
	background-color: rgba(0,0,0,.1);
	font: 1.1rem sans-serif;
	text-transform: uppercase;
	color: white;
}
.grid{
	padding: 1rem;
}
.grid-item{
	padding: 1.5rem;
	border-radius: .3rem;
	background-color: #006064 ;
}
/*****************************/

.grid{
  display: grid;
  grid-gap: .3rem;
  grid-template-columns: [start] minmax(5rem,20%)
                         [sideend main] minmax(8rem, 1fr)
                         [end];
  grid-template-rows: [initrow] minmax(5rem,20%)
                      [main] minmax(30rem,auto)
                      [footer] minmax(5rem,20%)
                      [endrow];
}
.heder{
  grid-column: 1/span2;
}
.footer{
  grid-column: 1/span2;
}

.flex{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

p {
	margin:0;
}


/*****************************/


.card{
	margin: .3rem;
	border-radius: .3rem;
	background-color: #b1bef7;
}
